.header_image {
    box-sizing: border-box;
    background-image: url(../images/image-banner.png);
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.font {
    font-family: $roboto;

    &-gray {
        color: gray;
    }

}

@media (min-width: 768px) {
    .header_image {
        height: 200px;
    }
}